<!DOCTYPE html>
<html>
<head>
  <title>Gradebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <% if current_teacher %>
    Hello <%= current_teacher.name %>
    <%= link_to "Log Out", logout_path %>
    <% else %>
    <%= link_to "Log in", login_path %>
    <% end %>
</div>
<% flash.each do |key, value| %>
  <%= content_tag(:div, class: "alert alert -#{key}") do %>
    <p> <%= value %></p>
  <% end %>
<% end %>
<%= yield %>

</body>
</html>
